TEST_ENV_VARIABLE=test

# Next.js Configuration
NEXT_PUBLIC_BASE_URL=https://test.dev

# Resend API Configuration
RESEND_API_KEY=your_resend_api_key_here

# Email Configuration
NOTIFICATION_EMAIL=your-email@test.dev
